.portfolio_area {
    /* padding-bottom: 120px; */
    height: 600px;
}

.card {
    width: 18rem;
    /* gap: 80px; */
}

.row-gap {
    gap: 50px;
    padding-left: 100px;
}

.card-body {
    height: 150px;
}

@media (min-width : 320px) and (max-width: 480px) {
    .card {
        padding-bottom: 60px;
        /* margin-bottom: -60px; */
    }
    .row-gap{
        /* padding-left: 15px; */
        width: 90%;
        /* background-color: #854fee; */
        justify-content: center;
    }
    /* .btn{
        color: brown;
        height: 40px;
        font-size: 20px;
    } */

    .col-sm-6{
        /* background-color: aqua; */
    }
    .card-body h5{
        font-size: 17px;
        font-weight: 700;
    }
    .card-body p{
        font-size: 20px;
    }
    .col-lg-12{
    }

    .card {
        
    }
    .card.text-center.col-sm-6{
        /* background-color: violet; */
        justify-content: center;
        width: 200px;
        height: 180px;
        justify-content: center;
        
    }
    .card-img-top {}

    .card-body {
        
    }

    .card-body h5 {
        /* font-size: 20px; */
    }

    .card-body p {
        font-size: 13px;
    }

    .row-gap {
        padding-left: 50px;
        width: 100%;
        height: 400px;
        display: grid;
        grid-template-columns: auto auto;
    }
}

.main {
    text-transform: uppercase;
}

.portfolio_area .filters ul {
    padding-left: 0;
    margin-bottom: 50px;
}

.portfolio_area .filters ul li {
    display: inline-block;
    margin-right: 50px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #222222;
    cursor: pointer;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.portfolio_area .filters ul li:hover,
.portfolio_area .filters ul li.active {
    color: #854fee;
}

@media (max-width: 767px) {
    .portfolio_area .filters ul li {
        margin-right: 20px;
    }
}