/* li{
  list-style: none;
}
a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1rem;
}
a:hover{
  color: rgb(255, 0, 0);
}
header{
  position: relative;
  padding: 0 2rem;
}
.navbar{
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  font-size: 1.5rem;
  font-weight: bold;
}
.navbar .links{
  display: flex;
  gap: 2rem;
} */
/* .navbar .toggle_btn{
  color: yellowgreen;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.dropdown_menu{
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(233, 157, 157, 0.603);
  backdrop-filter: 10px;
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
  height: 300px;
}
.dropdown_menu li{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media(max-width: 992px){
  .links li{
    display: none;
  }
  .navbar .toggle_btn{
    display: block;
  }
  .dropdown_menu{
    display: block;
  }
}
@media(max-width: 576px){
  .dropdown_menu{
    left: 2rem;
    width: unset;
  }
}
 */








 nav{
  width: 100%;
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 50px;
}
nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}
nav a:hover{
  background-color: #f0f0f0;
}
/* .sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10 0 10px rgba(0,0,0,0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
} */
/* .sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
} */
.navbar {
  background: #ececee;
  padding: 20px;
  width: 100%;
  font-size: 20px;
  position: fixed;
  z-index: 9999;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.logo {
  padding-left: 100px;
  font-family: Trade Winds;
  font-size: 30px;
  color: #854fee;
}

/* .sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10 0 10px rgba(0,0,0,0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
} */